html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.area {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 10;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.btn-north,
.btn-south {
    flex: 1;
    /*font-size: 4vmin;*/
    height: 4vmin;
    text-align: center;
    width: 100%;
}

.life {
    flex 5;
    font-size: calc(82vmin / 2);
    height: calc(82vmin / 2);
    text-align: center;
    width: 100%;
}

#player2-life {
    transform: rotate( 180deg );
}

.toolbar-area {
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 4vmin;
    justify-content: flex-end;
    width: 100%;
}

.btn {
    flex: 0 1;
    width: auto;
}
